body
  margin 0
  padding 0
  overflow hidden
  background-color #F0F0F0
  height 100%
  overflow auto


.navbar
  padding 18px
  color #dcdcdc
  border 1px solid #000000

#location
  text-decoration none
  border none 
  background-color #ffffff
  color #444341
  -webkit-border-radius 0px
  -moz-border-radius 0px
  -ms-border-radius 0px
  -o-border-radius 0px
  border-radius 0px
  outline none
  border none
  margin-left 12px


#curr-loc
  display none

span
  color #444341

.container
  height 100%
  display flex

#canvas
  width 50%
  height 80vh
  margin-left 2%
  background-color #dcdcdc
  border 1px solid #a9a9a9
  overflow scroll
  display flex
  flex-direction column

#canvas, #scene-repo
  margin-top 30px
  

#scene-repo
  width 25%
  margin-left 3%
  background-color #d1e1f9
  border 1px solid #a9a9a9
  overflow scroll

#scene-repo button, #canvas button
  width 50%
  height 10%
  margin-top 5px
  margin-left 25%

#control
  display flex
  flex-direction column
  text-align center
  padding-top 30px

#control input 
  width 50%
  margin-bottom 12px
  height 40px
  text-align center

#apply
  margin-top 12px
  width 30%
  margin-left 37%

#apply, #finish
  color #444341

#finish
  width 75%
  font-size 20px
  margin-left 15%
  position relative
  margin-top 148%
