.scene
  position relative;
  width 100vw
  height 100vh
  overflow hidden

.fullscreen
  width 100vw
  height 100vh

.absolute
  position absolute
  display block

.dialogue
  bottom 0
  left 0
  right 0
  background rgba(255, 255, 255, 0.75);
  color black
  font-size 1rem
  padding 24px
  box-sizing border-box
  z-index 10000

.button
  font-size 1rem
  background teal
  color white
  padding 12px 24px

.character
  width: 50%
  bottom: 0

  @media screen and (max-width: 1280px)
    width: 40%

  @media screen and (max-width: 1100px)
    width 75%

  @media screen and (max-width: 800px)
    width 100%

.small-character
  width 40%

.smaller-character
  width 35%

.smallest-character
  width 32%

.character-center
  left 25%

  @media screen and (max-width: 1100px)
    left 12.5%

  @media screen and (max-width: 800px)
    left 0

.character-left
  left 0

.character-right
  right 5%

.tablet-small
  width 50%


.tablet-right
  right 0
  top 15%

  @media screen and (max-width: 1280px)
    top 10%


.image-left
  left 10%

.image-right
  right 10%

.image-top
  top 1%

.image-bottom
  top 50%

.image-physical
  top 53%

.image-center
  width 50%
  left 25%

.image-center-2
  left 30%

.three-first
  left 2.5%
  width 30%

.three-second
  left 35%
  width 30%

.three-third
  left 67.5%
  width 30%

.overflow
  overflow auto

.form
  top 10%
  right 15%
  height 50%
  background #ddd
  padding 24px

.title
  z-index 1
  font-size 2.5rem
  text-align center
  color white
  font-weight bold
  padding 24px
  margin 0
  bottom 0
  left 0